---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">

  {% include index/carousel.html title="Featured Items" height=450  %}

  </div>
  <div class="col-md-3">  

    {% include index/featured-terms.html field="item_information" title="Item Types" btn-color="outline-info" %}
</div>
<div class="col-md-3"> 
    {% include index/time.html %}
  </div>
  <div class="col-md-3">
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" %}
  </div>
  <div class="col-md-3">
   
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>